{% extends "baseE.html" %}

{% block title %}
Employee Dashboard
{% endblock %}

{% block content %}

<h2>Welcome, {{username}}</h2>

<!-- Cards -->
<div class="cards">

<div class="card total">
Total Tasks
<h1>{{tasks|length}}</h1>
</div>

<div class="card pending">
Pending
<h1>
{{tasks | selectattr(5, 'equalto', 'pending') | list | length}}
</h1>
</div>

<div class="card completed">
Completed
<h1>
{{tasks | selectattr(5, 'equalto', 'completed') | list | length}}
</h1>
</div>

</div>

<!-- Search -->
<input type="text" id="search" placeholder="Search tasks..." onkeyup="searchTasks()">

<!-- Filter -->
<select id="filter" onchange="filterTasks()">
<option value="all">All</option>
<option value="pending">Pending</option>
<option value="completed">Completed</option>
<option value="in_progress">In Progress</option>
</select>

<!-- Tasks -->
<div id="taskList">

{% for t in tasks %}

<div class="task" data-status="{{t[5]}}">

<h3>{{t[0]}}</h3>

<p>{{t[1]}}</p>

<p>
<b>Deadline:</b> {{t[2]}}
</p>

<p>
Status:
<span class="
{% if t[5]=='completed' %}
status-complete
{% elif t[5]=='in_progress' %}
status-progress
{% else %}
status-pending
{% endif %}
">
{{t[5]}}
</span>
</p>

<p>Progress: {{t[3]}}%</p>

<div class="progress-bar">
<div class="progress" style="width: {{t[3]}}%"></div>
</div>

<form method="POST" action="/update_status">

<input type="hidden" name="id" value="{{t[4]}}">

<select name="status">
<option value="pending">Pending</option>
<option value="in_progress">In Progress</option>
<option value="completed">Completed</option>
</select>

<button>Update</button>

</form>

</div>

{% endfor %}

</div>

<!-- JS -->
<script>
function searchTasks() {
    let input = document.getElementById("search").value.toLowerCase();
    let tasks = document.querySelectorAll(".task");

    tasks.forEach(task => {
        let text = task.innerText.toLowerCase();

        if (text.includes(input)) {
            task.style.display = "block";
        } else {
            task.style.display = "none";
        }
    });
}

function filterTasks() {
    let filter = document.getElementById("filter").value.toLowerCase();
    let tasks = document.querySelectorAll(".task");

    tasks.forEach(task => {
        let status = task.getAttribute("data-status");

        if (!status) return;

        status = status.toLowerCase();

        if (filter === "all" || status === filter) {
            task.style.display = "block";
        } else {
            task.style.display = "none";
        }
    });
}
</script>

{% endblock %}