{% extends "baseE.html" %}

{% block content %}

<h2>My Profile</h2>

<div style="display:flex; gap:30px;">

    <!-- PROFILE -->
    <div style="background:white; padding:20px; border-radius:10px; width:300px;">

        <p><b>Username:</b> {{user[0]}}</p>
        <p><b>Name:</b> {{user[1]}}</p>
        <p><b>Email:</b> {{user[2]}}</p>

        <a href="/edit_profile"><button>Edit Profile</button></a><br><br>
        <a href="/change_password"><button>Change Password</button></a>

    </div>

    

{% endblock %}